docs/** linguist-documentation
**/*.html linguist-documentation
**/*.tex  linguist-documentation

src/assets/**   linguist-vendored
third_party/**  linguist-vendored

src/**/*.py linguist-detectable=true

