docs/**                 linguist-documentation
src/assets/**           linguist-vendored

*.tex                   linguist-detectable=false

*.html                  linguist-documentation

*.py                    linguist-detectable=true
src/**/*.py             linguist-detectable=true


